*/.DS_Store
.DS_Store
append
*/.DS_Store
.DS_Store
trainscanner
work/*
*.o
*~
*.tif
*.log
*.npy
sample*png
*.pyc

.DS_Store


*.pdf
build/
dist/
@
.DS_Store

.DS_Store

*.tsconf

*.tspos

.DS_Store

.DS_Store

a.mp4

examples.py
