*/.DS_Store
.DS_Store
append
*/.DS_Store
.DS_Store
trainscanner
work/*
*.o
*~
*.tif
*.log
*.npy
sample*png
*.pyc

.DS_Store


*.pdf
build/
dist/
@
.DS_Store

*.tsconf
*.tspos
a.mp4

examples.py

*.m4v

tmp.png


test1.png

.DS_Store
*/*pngs/*
*.egg-info/*

*.rst
