[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tiledimage = "*"
scikit-build = "*"
videosequence = "*"
opencv-python-headless = "*"
pyqt6 = "*"

[dev-packages]

[requires]
python_version = "3.10"
